<div class="home__container">
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/pt/1/1f/Battlefield_2042_capa.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 199,90"
	>
	</app-card>

	<app-card
		gameCover="https://p2.trrsf.com/image/fget/cf/1200/1600/middle/images.terra.com/2023/12/04/gta6-capa-1h7gcqluigx9e.png"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,90"
	>
	</app-card>

	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/pt/d/dc/Capa_de_Forza_Horizon_5.jpg"
		gameLabel="30% OFF"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 109,90"
	>
	</app-card>

	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 239,90"
	>
	</app-card>

	<app-card
		gameCover="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc2980749091d52751ffabb7b7"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 399,90"
	>
	</app-card>

	<app-card
		gameCover="https://pm1.aminoapps.com/6880/aad2c9fab1ae11406f7e8668324557f1a1c7f7bcr1-939-1199v2_uhq.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 289,00"
	>
	</app-card>

</div>
